.flex-center{
    display: flex;
    justify-content: center;
    align-items: center;
}


.selection{
    position: relative;
    width: 1150px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 130px;
}

.sub-selection{
    position: relative;
    width: 1150px;
    margin-left: auto;
    margin-right: auto;
    padding: 6rem 0;

}
/*제목*/
.section-title-01{
    font-size: 4.5em;
    font-weight: 600;
    margin-bottom: 2rem;
    background: linear-gradient(to top,turquoise 0%,var(--second-color) 10%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    opacity: .1;
}

.section-title-02{
    font-size: 2.5em;
    font-weight: 700;
    transform: translateY(-80px);
}


.section-title-02:before{
    content: '';
    position: absolute;
    width: 60px;
    height: 3px;
    right: 0;
    bottom: 0;
    background: var(--second-color);
}
.container{
    position: relative;
    flex-direction: column;
}
.about .container .content{
    column-gap: 40px;
    width: 100%;
}

/*사진*/
.about-img{
    position: relative;
}

.about-img img{
    max-width: 100%;
    border-radius: 10px;
}

.about-info{
    max-width: 600px;
}

/*이름*/
.about-info h3{
    font-size: 2em;
    margin-bottom: 10px;
}
/*직업 및 국적 */
.about-info h4{
    font-size: 1.3em;

}

.about-info h4 span{
    color: var(--second-color);
}

/*소개글*/
.about-info p{
    font-size: large;
    margin-bottom: 15px;
    padding-bottom: 25px;
    border-bottom: 2px solid var(--second-color);
}

.our-client{
    margin-top: 30px;
}

.our-client .our-sliderwrap{
    max-width: 2000px;
    margin: 0 auto;
    overflow: hidden;
}
/*클라이언트 소개*/
.our-client .section-title-02:before{
    width: 100px;
}

