*{
    margin : 0;
    box-sizing: border-box;

}
.navbar{
    display: flex;

    justify-content: space-between;

    align-items: center;
    background-color: white;
    padding: 20px 50px;
}


a{
    font-family: 'Nanum Myeongjo', serif;
    text-decoration: none;
    color: black;
}
#nav-logo{
    padding: 20px;
}

.nav-log{
    padding: 10px;
    font-size: 24px;
}
.nav-menu{
    display: flex;
    list-style: none;

}

.nav-menu li{
    padding: 8px 12px;
    cursor: pointer;
}

.nav-menu li:hover{

    border-radius: 5px;
    font-weight: bold;
    font-size: 18px;
}