
#con-flex-center{
    display: flex;
    flex-direction: column;
}
.content{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.content  .contact-list{
    padding: 20px;
}
.content .content-left span{
    padding: 20px;
    font-family: 'Nanum Myeongjo', serif;

}
.content .contact-list i{
    color: #614fd0;
}

.content .contact-list .item-title{
    padding: 10px 0;
}
.content h2{
    font-size: 32px;
}

.content-right .btn{
    cursor: pointer;
    background: var(--second-color);
    color: white;
    font-size: 15px;
    border-radius: 5px;
    border: 0;
    padding: 15px;
    margin: 20px;
}
.content-right p{
    font-size: 23px;

}
.content-right span{
    font-size: 23px;
    font-weight: bold;
}
.content-right .contact-form{
    margin-top: 20px;
}

.content-right .contact-form .first-row{
    margin: 20px;

}
.content-right .contact-form .four-row{
    margin-left: 20px;
    margin-bottom: 50px;

}


.content-right .contact-form input ,.contact-form textarea{
    background: #b1a9ea;
    padding: 10px;
    border: 0;
    border-radius: 5px;
}
.contact-form textarea{
    width: 100%;
    padding: 15px 15px 60px;
}
::placeholder{
    color: black;
    font-size: 120%;
    text-align: left;
}

.content-right .contact-form .second-row{
    margin: 20px;
}
.content-right .contact-form .three-row{
    margin: 20px;
}
.content-right .contact-form p{
    font-size: 15px;
    margin-bottom: -15px;
    font-family: 'Nanum Myeongjo', serif;
}

.contact-form .four-row #fileUpload{
    border-radius: 10px;
    font-family: 'Nanum Myeongjo', serif;

}
