root{
    --test-color: yellow;
}
*{
    overflow-x:hidden;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
[name="slide"] {display: none}


.slider{

    width: 105%;
    margin-top: 100px;
    overflow: hidden;
}

.slides{
    width: 600%;
    height: 100%;
    display: flex;

}
/*슬라이더 이미지*/
.slider img{
    width: 90%;
    height: 100vh;
}


.slide{
    width: 20%;

    transition: 2s;
}

.slides input{
    display: none;
}

ul li{
    list-style: none;
}

/*라벨 위치*/
.navigation-manual{
    position: absolute;
    width: 1750px;
    margin-top: -40px;
    display: flex;
    justify-content: center;

}
/*라벨 버튼 디자인*/
.manual-button{
    border : 2px solid var(--test-color);
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
    margin: 10px;
}

/*라벨 마우스 포인터 반응*/
.manual-button:hover{
    background: var(--test-color);
}


/*선택 슬라이더*/
#slide1:checked ~.first{
    margin-left: 0;
}
#slide2:checked ~.first{
    margin-left: -20%;
}
#slide3:checked ~.first{
    margin-left: -40%;
}

/*자동 슬라이더*/
.navigation-auto{
    position: absolute;
    width: 1750px;
    margin-top: -40px;
    display: flex;
    justify-content: center;
}
.navigation-auto div{
    border : 2px solid var(--test-color);
    padding: 5px;
    border-radius: 10px;
    transition: 1s;
    margin: 10px;
}
#slide1 ~.navigation-auto .auto-btn1{
    background: var(--test-color);
}
#slide2 ~.navigation-auto .auto-btn2{
    background: var(--test-color);
}
#slide3 ~.navigation-auto .auto-btn3{
     background: var(--test-color);
 }