root{
    --nav-font-color:black;
    --nav-color:#fff;
}
*{
    margin : 0;
    box-sizing: border-box;

}


header{

    width: 100%;
    position: fixed;
    transition: .6s ease;
    z-index: 1;
}
header.sticky{
    background: rgba(255,255,255,0.1);

}


.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--nav-color);
    padding: 20px 50px;

}




a{
    font-family: 'Nanum Myeongjo', serif;
    text-decoration: none;
    color: var(--nav-font-color);
}
#nav-logo{
    padding: 20px;

}

.nav-log{
    padding: 10px;

    font-size: 28px;
    overflow-y: hidden;
}
.nav-menu{

    display: flex;
    list-style: none;
}



.nav-menu li{
    padding: 8px 12px;
    cursor: pointer;
    font-size: 19px;
}

.nav-menu li:hover{

    border-radius: 5px;
    font-weight: bold;
    font-size: 19px;
}

@media screen and (max-width: 700px){
    .navbar{
        flex-direction: column;
        column-gap: 3px;
    }

    .nav-log a{
        font-size: 40px;
    }

    .nav-menu a{
        font-size: 20px;
    }
}

.footer{

    background-color: #777777;
}
.footer-title{
    margin-top: 1rem;
    text-align: center;
   margin-bottom: 1rem;
    color: white;
}

.footer-lists{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    margin-bottom: 1rem;


}

.footer-lists a{
    color: white;
    font-size: 15px;
}

.footer-container p{
    text-align: center;
    font-size: 5px;
    color: white;
    margin-bottom: 20px;
}